# Ignore all by default, so only relevant files are explicitly added to git in a whitelisting fashion.
/*

# Whitelist folders
!/app_binaries
!/app_source
!/.sauce


# Whitelist files
!README.md
!Makefile